# RESUME CLEAN & ADD SKILLS
## Xilin Tian

In [1]:
import pandas as pd
import numpy as np
import nltk
from io import StringIO

### Week 1
#### Import, Clean, and Organize the dataset

In [2]:
resume = pd.read_csv('resume.csv', low_memory = False) # source:https://www.kaggle.com/datasets/maitrip/resumes and https://www.kaggle.com/code/hendlabib12/resume-extraction/data
resume

,ID,Category,Resume,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 855,Unnamed: 856,Unnamed: 857,Unnamed: 858,Unnamed: 859,Unnamed: 860,Unnamed: 861,Unnamed: 862,Unnamed: 863,Unnamed: 864
0,1,HR,"b'John H. Smith, P.H.R.\n800-991-5187 | PO Box...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,HR,b'Name Surname\nAddress\nMobile No/Email\nPERS...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,HR,b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,HR,b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,HR,"b""HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4888,99416532,AVIATION,RANK: SGT/E-5 NON- COMMISSIONED OFFIC...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4889,24589765,AVIATION,"GOVERNMENT RELATIONS, COMMUNICATIONS ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4890,31605080,AVIATION,GEEK SQUAD AGENT Professional...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4891,21190805,AVIATION,PROGRAM DIRECTOR / OFFICE MANAGER ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4892,37473139,AVIATION,STOREKEEPER II Professional Sum...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
resume = resume.dropna(axis = 'index', how = 'all') # Delete nan rows
resume = resume[pd.to_numeric(resume['ID'], errors='coerce').notnull()]
resume

,ID,Category,Resume,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 855,Unnamed: 856,Unnamed: 857,Unnamed: 858,Unnamed: 859,Unnamed: 860,Unnamed: 861,Unnamed: 862,Unnamed: 863,Unnamed: 864
0,1,HR,"b'John H. Smith, P.H.R.\n800-991-5187 | PO Box...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,HR,b'Name Surname\nAddress\nMobile No/Email\nPERS...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,HR,b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,HR,b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,HR,"b""HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4888,99416532,AVIATION,RANK: SGT/E-5 NON- COMMISSIONED OFFIC...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4889,24589765,AVIATION,"GOVERNMENT RELATIONS, COMMUNICATIONS ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4890,31605080,AVIATION,GEEK SQUAD AGENT Professional...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4891,21190805,AVIATION,PROGRAM DIRECTOR / OFFICE MANAGER ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4892,37473139,AVIATION,STOREKEEPER II Professional Sum...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
resume = resume.drop(resume.loc[:, 'Unnamed: 3':'Unnamed: 864'].columns, axis = 1)
resume = resume.dropna(axis = 'index', how = 'any') # Delete nan rows
resume = resume.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
resume.reset_index(inplace=True)
resume

,index,ID,Category,Resume
0,0,1,HR,"b'John H. Smith, P.H.R.\n800-991-5187 | PO Box..."
1,1,2,HR,b'Name Surname\nAddress\nMobile No/Email\nPERS...
2,2,3,HR,b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...
3,3,4,HR,b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...
4,4,5,HR,"b""HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert..."
...,...,...,...,...
3672,4888,99416532,AVIATION,RANK: SGT/E-5 NON- COMMISSIONED OFFIC...
3673,4889,24589765,AVIATION,"GOVERNMENT RELATIONS, COMMUNICATIONS ..."
3674,4890,31605080,AVIATION,GEEK SQUAD AGENT Professional...
3675,4891,21190805,AVIATION,PROGRAM DIRECTOR / OFFICE MANAGER ...
3676,4892,37473139,AVIATION,STOREKEEPER II Professional Sum...

In [5]:
print(resume.dtypes)

ID          object
Category    object
Resume      object
dtype: object

In [6]:
resume.to_csv('resume_clean.csv', index=False)

Saved this dataframe to csv, then opened it in Excel:

    delete blank rows (Ctrl+G locate the empty value in the ID column, select and delete the entire row);

    Copy the skill list and transpose and paste it into the title bar；

    Write function '=IF(IFERROR(FIND(D$1,$C2),0),1,0)' to D2 and apply to all;

Save and import here

In [17]:
RESUME = pd.read_excel ('resume_add_skills.xlsx')
RESUME

,ID,Category,Resume,branding,collateral,competitive analysis,content,customer journeys,data analytics,ecommerce,...,inbound marketing,influencer marketing,new market development,paid media and advertising,positioning,SEO,social media,webinars,website development,WordPress
0,1,HR,"b'John H. Smith, P.H.R.\n800-991-5187 | PO Box...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,2,HR,b'Name Surname\nAddress\nMobile No/Email\nPERS...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,HR,b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,HR,b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,HR,"b""HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3672,99416532,AVIATION,RANK: SGT/E-5 NON- COMMISSIONED OFFIC...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3673,24589765,AVIATION,"GOVERNMENT RELATIONS, COMMUNICATIONS ...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3674,31605080,AVIATION,GEEK SQUAD AGENT Professional...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3675,21190805,AVIATION,PROGRAM DIRECTOR / OFFICE MANAGER ...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3676,37473139,AVIATION,STOREKEEPER II Professional Sum...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

_____
Using Python to add the skills

In [7]:
def score(skills, resume):
    score = 0
    for i in range(len(resume)-len(skills)):
        if resume[i:i+len(skills)]==skills:
            score = 1
    return score

In [8]:
skills = ['branding','collateral','competitive analysis','content','customer journeys','data analytics','ecommerce','email marketing','events','growth','inbound marketing','influencer marketing','new market development','paid media and advertising','positioning','SEO','social media','webinars','website development','WordPress']

In [23]:
for j in range(len(skills)):
    column = []
    for i in range(3677):
        skills_score = score(skills[j], resume.loc[i,'Resume'])
        column.append(skills_score)
    resume[skills[j]] = column
resume = resume.drop(columns = ['index'])
resume

,ID,Category,Resume,branding,collateral,competitive analysis,content,customer journeys,data analytics,ecommerce,...,inbound marketing,influencer marketing,new market development,paid media and advertising,positioning,SEO,social media,webinars,website development,WordPress
0,1,HR,"b'John H. Smith, P.H.R.\n800-991-5187 | PO Box...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,2,HR,b'Name Surname\nAddress\nMobile No/Email\nPERS...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,HR,b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,HR,b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,HR,"b""HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3672,99416532,AVIATION,RANK: SGT/E-5 NON- COMMISSIONED OFFIC...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3673,24589765,AVIATION,"GOVERNMENT RELATIONS, COMMUNICATIONS ...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3674,31605080,AVIATION,GEEK SQUAD AGENT Professional...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3675,21190805,AVIATION,PROGRAM DIRECTOR / OFFICE MANAGER ...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3676,37473139,AVIATION,STOREKEEPER II Professional Sum...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

_______
check

In [29]:
def test(r,R):
    score = True
    for i in range(len(r)):
        if r[i] != R[i]:
            score = False
    return score

In [33]:
compare = []
for i in range(len(skills)):
    TF = test(resume[skills[i]], RESUME[skills[i]])
    compare.append(TF)
compare

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True]