# RESUME CLASSIFICATION PROJECT
## Xilin Tian

In [1]:
import pandas as pd
import numpy as np
import nltk

### Week 1
#### Import, Clean, and Organize the dataset

In [2]:
resume1 = pd.read_csv('resume_dataset.csv', low_memory = False) # source:https://www.kaggle.com/datasets/maitrip/resumes 
resume1

,ID,Category,Resume,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 855,Unnamed: 856,Unnamed: 857,Unnamed: 858,Unnamed: 859,Unnamed: 860,Unnamed: 861,Unnamed: 862,Unnamed: 863,Unnamed: 864
0,1,HR,"b'John H. Smith, P.H.R.\n800-991-5187 | PO Box...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,HR,b'Name Surname\nAddress\nMobile No/Email\nPERS...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,HR,b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,HR,b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,HR,"b""HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1328,1217,Aviation,"b'MAJOR CONRAD A. PREEDOM\n2354 Fairchild Dr.,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1329,1218,Aviation,b'STACY SAMPLE\n\n702 800-0000 cell\n\n0000@em...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1330,1219,Aviation,b'Entry Level Resume Guide\n\nThis packet is i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1332,\x80\x99s absence.\n\nOrganizational\n\nManage...,Department of Psychology\nSecretary/Receptionist,2009 \xe2\x80\x93 Present\n\nChicago,IL\n\nJCPenney Company\nSales Clerk/Cashier,1994 \xe2\x80\x93 1998\n\nNiles,IL\n\nWalgreens\nAssistant Manager,1992 \xe2\x80\x93 1994\n\nChicago,IL\n\n12\n\n\x0cSAMPLE 8: Combination Resume,Part-Time or Internship Position\n\nAdita Pat...,Niles,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
resume1 = resume1.drop([522,1332])
resume1 = resume1.dropna(axis = 'index', how = 'all')
resume1 = resume1.dropna(axis = 'columns')
resume1

        ID  Category                                             Resume
0        1        HR  b'John H. Smith, P.H.R.\n800-991-5187 | PO Box...
1        2        HR  b'Name Surname\nAddress\nMobile No/Email\nPERS...
2        3        HR  b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...
3        4        HR  b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...
4        5        HR  b"HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert...
...    ...       ...                                                ...
1326  1215  Aviation  b"Free Flight Attendant Resume\nDarlene Flint\...
1327  1216  Aviation  b'Corporate Flight Attendant Resume\nCAITLIN F...
1328  1217  Aviation  b'MAJOR CONRAD A. PREEDOM\n2354 Fairchild Dr.,...
1329  1218  Aviation  b'STACY SAMPLE\n\n702 800-0000 cell\n\n0000@em...
1330  1219  Aviation  b'Entry Level Resume Guide\n\nThis packet is i...

[1274 rows x 3 columns]

In [4]:
resume2 = pd.read_csv('resume2.csv')  # source: https://www.kaggle.com/code/hendlabib12/resume-extraction/data
resume2

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR
...,...,...,...,...
2479,99416532,RANK: SGT/E-5 NON- COMMISSIONED OFFIC...,"<div class=""fontsize fontface vmargins hmargin...",AVIATION
2480,24589765,"GOVERNMENT RELATIONS, COMMUNICATIONS ...","<div class=""fontsize fontface vmargins hmargin...",AVIATION
2481,31605080,GEEK SQUAD AGENT Professional...,"<div class=""fontsize fontface vmargins hmargin...",AVIATION
2482,21190805,PROGRAM DIRECTOR / OFFICE MANAGER ...,"<div class=""fontsize fontface vmargins hmargin...",AVIATION
2483,37473139,STOREKEEPER II Professional Sum...,"<div class=""fontsize fontface vmargins hmargin...",AVIATION

In [5]:
resume2 = resume2.drop('Resume_html', axis = 1)
resume2.columns = ['ID','Resume','Category'] # Rename column
columns_titles = ["ID","Category","Resume"] # Swape column
resume2=resume2.reindex(columns=columns_titles)
resume2

            ID  Category                                             Resume
0     16852973        HR           HR ADMINISTRATOR/MARKETING ASSOCIATE\...
1     22323967        HR           HR SPECIALIST, US HR OPERATIONS      ...
2     33176873        HR           HR DIRECTOR       Summary      Over 2...
3     27018550        HR           HR SPECIALIST       Summary    Dedica...
4     17812897        HR           HR MANAGER         Skill Highlights  ...
...        ...       ...                                                ...
2479  99416532  AVIATION           RANK: SGT/E-5 NON- COMMISSIONED OFFIC...
2480  24589765  AVIATION           GOVERNMENT RELATIONS, COMMUNICATIONS ...
2481  31605080  AVIATION           GEEK SQUAD AGENT         Professional...
2482  21190805  AVIATION           PROGRAM DIRECTOR / OFFICE MANAGER    ...
2483  37473139  AVIATION           STOREKEEPER II       Professional Sum...

[2484 rows x 3 columns]

In [6]:
frames = [resume1, resume2] # join the dataframe
resume = pd.concat(frames)
resume

            ID  Category                                             Resume
0            1        HR  b'John H. Smith, P.H.R.\n800-991-5187 | PO Box...
1            2        HR  b'Name Surname\nAddress\nMobile No/Email\nPERS...
2            3        HR  b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...
3            4        HR  b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...
4            5        HR  b"HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert...
...        ...       ...                                                ...
2479  99416532  AVIATION           RANK: SGT/E-5 NON- COMMISSIONED OFFIC...
2480  24589765  AVIATION           GOVERNMENT RELATIONS, COMMUNICATIONS ...
2481  31605080  AVIATION           GEEK SQUAD AGENT         Professional...
2482  21190805  AVIATION           PROGRAM DIRECTOR / OFFICE MANAGER    ...
2483  37473139  AVIATION           STOREKEEPER II       Professional Sum...

[3758 rows x 3 columns]

In [7]:
from sklearn.model_selection import train_test_split
X = resume['Resume']
y = resume['Category'] # Label

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1) # Set Train and Test dataset
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=1) # Set Validation data set, 0.25 x 0.8 = 0.2

Tokenization

In [ ]:
from nltk.tokenize import word_tokenize
AI_tokens = word_tokenize(AI)