# RESUME CLASSIFICATION PROJECT
## Xilin Tian

In [1]:
import pandas as pd
import numpy as np
import nltk
from io import StringIO

### Week 1
#### Import, Clean, and Organize the dataset

In [2]:
resume = pd.read_csv('resume.csv', low_memory = False) # source:https://www.kaggle.com/datasets/maitrip/resumes and https://www.kaggle.com/code/hendlabib12/resume-extraction/data
resume

,ID,Category,Resume,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 855,Unnamed: 856,Unnamed: 857,Unnamed: 858,Unnamed: 859,Unnamed: 860,Unnamed: 861,Unnamed: 862,Unnamed: 863,Unnamed: 864
0,1,HR,"b'John H. Smith, P.H.R.\n800-991-5187 | PO Box...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,HR,b'Name Surname\nAddress\nMobile No/Email\nPERS...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,HR,b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,HR,b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,HR,"b""HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4888,99416532,AVIATION,RANK: SGT/E-5 NON- COMMISSIONED OFFIC...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4889,24589765,AVIATION,"GOVERNMENT RELATIONS, COMMUNICATIONS ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4890,31605080,AVIATION,GEEK SQUAD AGENT Professional...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4891,21190805,AVIATION,PROGRAM DIRECTOR / OFFICE MANAGER ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4892,37473139,AVIATION,STOREKEEPER II Professional Sum...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
resume = resume.dropna(axis = 'index', how = 'all') # Delete nan rows
resume = resume[pd.to_numeric(resume['ID'], errors='coerce').notnull()]
resume

,ID,Category,Resume,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 855,Unnamed: 856,Unnamed: 857,Unnamed: 858,Unnamed: 859,Unnamed: 860,Unnamed: 861,Unnamed: 862,Unnamed: 863,Unnamed: 864
0,1,HR,"b'John H. Smith, P.H.R.\n800-991-5187 | PO Box...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,HR,b'Name Surname\nAddress\nMobile No/Email\nPERS...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,HR,b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,HR,b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,HR,"b""HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4888,99416532,AVIATION,RANK: SGT/E-5 NON- COMMISSIONED OFFIC...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4889,24589765,AVIATION,"GOVERNMENT RELATIONS, COMMUNICATIONS ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4890,31605080,AVIATION,GEEK SQUAD AGENT Professional...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4891,21190805,AVIATION,PROGRAM DIRECTOR / OFFICE MANAGER ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4892,37473139,AVIATION,STOREKEEPER II Professional Sum...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
resume = resume.drop(resume.loc[:, 'Unnamed: 3':'Unnamed: 864'].columns, axis = 1)
resume = resume.dropna(axis = 'index', how = 'any') # Delete nan rows
resume = resume.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
resume

            ID  Category                                             Resume
0            1        HR  b'John H. Smith, P.H.R.\n800-991-5187 | PO Box...
1            2        HR  b'Name Surname\nAddress\nMobile No/Email\nPERS...
2            3        HR  b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...
3            4        HR  b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...
4            5        HR  b"HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert...
...        ...       ...                                                ...
4888  99416532  AVIATION           RANK: SGT/E-5 NON- COMMISSIONED OFFIC...
4889  24589765  AVIATION           GOVERNMENT RELATIONS, COMMUNICATIONS ...
4890  31605080  AVIATION           GEEK SQUAD AGENT         Professional...
4891  21190805  AVIATION           PROGRAM DIRECTOR / OFFICE MANAGER    ...
4892  37473139  AVIATION           STOREKEEPER II       Professional Sum...

[3677 rows x 3 columns]

In [9]:
X = resume['Resume']
y = resume['Category'] # Label

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1) # Set Train and Test dataset
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=1) # Set Validation data set, 0.25 x 0.8 = 0.2

In [11]:
print(resume.dtypes)

ID          object
Category    object
Resume      object
dtype: object