# RESUME CLASSIFICATION PROJECT
## Xilin Tian

In [1]:
import pandas as pd
import numpy as np
import nltk

Import the dataset and delete the 'NaN' columns

In [3]:
resume1 = pd.read_csv('resume_dataset.csv', low_memory = False)
resume1 = resume1.drop([522,1332])
resume1 = resume1.dropna(axis = 'index', how = 'all')
resume1 = resume1.dropna(axis = 'columns')
resume1

        ID  Category                                             Resume
0        1        HR  b'John H. Smith, P.H.R.\n800-991-5187 | PO Box...
1        2        HR  b'Name Surname\nAddress\nMobile No/Email\nPERS...
2        3        HR  b'Anthony Brown\nHR Assistant\nAREAS OF EXPERT...
3        4        HR  b'www.downloadmela.com\nSatheesh\nEMAIL ID:\nC...
4        5        HR  b"HUMAN RESOURCES DIRECTOR\n\xef\x82\xb7Expert...
...    ...       ...                                                ...
1326  1215  Aviation  b"Free Flight Attendant Resume\nDarlene Flint\...
1327  1216  Aviation  b'Corporate Flight Attendant Resume\nCAITLIN F...
1328  1217  Aviation  b'MAJOR CONRAD A. PREEDOM\n2354 Fairchild Dr.,...
1329  1218  Aviation  b'STACY SAMPLE\n\n702 800-0000 cell\n\n0000@em...
1330  1219  Aviation  b'Entry Level Resume Guide\n\nThis packet is i...

[1274 rows x 3 columns]

In [7]:
resume2 = pd.read_csv('resume2.csv')
resume2 = resume2.drop('Resume_html', axis = 1)
resume2

            ID                                         Resume_str  Category
0     16852973           HR ADMINISTRATOR/MARKETING ASSOCIATE\...        HR
1     22323967           HR SPECIALIST, US HR OPERATIONS      ...        HR
2     33176873           HR DIRECTOR       Summary      Over 2...        HR
3     27018550           HR SPECIALIST       Summary    Dedica...        HR
4     17812897           HR MANAGER         Skill Highlights  ...        HR
...        ...                                                ...       ...
2479  99416532           RANK: SGT/E-5 NON- COMMISSIONED OFFIC...  AVIATION
2480  24589765           GOVERNMENT RELATIONS, COMMUNICATIONS ...  AVIATION
2481  31605080           GEEK SQUAD AGENT         Professional...  AVIATION
2482  21190805           PROGRAM DIRECTOR / OFFICE MANAGER    ...  AVIATION
2483  37473139           STOREKEEPER II       Professional Sum...  AVIATION

[2484 rows x 3 columns]

Set Train, Validation, Test dataset

In [ ]:
import

In [ ]:
category = resume['Category']
Resume = resume.drop(columns = 'Category')

Define the numbers of category

In [ ]:
1274-category.duplicated().sum()

Tokenization

In [ ]:
from nltk.tokenize import word_tokenize
AI_tokens = word_tokenize(AI)